:root {
    font-size: 62.5%;
    background-color: rgb(26, 25, 25);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    
}

/*------------------------------------------TEXT*/

h1,
h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1 {
    font-size: 7rem;
}
h2 {
    font-size: 4rem;
    margin-bottom: 5rem;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 5rem;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

/*------------------------------------------UTILITIES*/
.header {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20rem;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: -10rem;
}
.container > * {
    width: 100%;
}

.textContainer {
    width: 100vw;
    height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
}

.leftAlign {
    text-align: left;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: space-evenly;
    align-items: center;
}

/*------------------------------------------ICONS*/

div:target {
    animation: highlight 1s ease;  
    transform: translateX(20px);     
  }

.linkIcon {
    background-color: rgb(79, 63, 168);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: 0 10rem;
    min-width: 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linkIcon:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0.5rem rgba(48, 38, 102, 0.5);
    transform: translateY(-0.2rem);
    transition: transform 200ms;
}

.linkIcon i {
    font-size: 10rem;
    margin-top: 5rem;
}

.referenceIcons .icons a {
    background-color: rgb(168, 63, 168);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0 5rem;
    min-width: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

a h2 {
    margin-top: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
}

.anchor {
    position: absolute;
    transform: translateY(-25vh);
  }